.checkbox-slider--b-flat {
  position: relative;
}

.checkbox-slider--b-flat input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 0;
  cursor: pointer;
  opacity: 0;
}

.checkbox-slider--b-flat input + span {
  cursor: pointer;
  user-select: none;
}

.checkbox-slider--b-flat input + span:before {
  position: absolute;
  left: 0;
  display: inline-block;
}

.checkbox-slider--b-flat input + span:before {
  content: "";
  height: 20px;
  width: 30px;
  background: rgba(100, 100, 100, 0.2);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  transition: background 0.2s ease-out;
}

.checkbox-slider--b-flat input + span:after {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  display: block;
  background: #ffffff;
  transition: margin-left 0.15s ease-in-out;
  text-align: center;
  font-weight: bold;
  content: "";
}

.checkbox-slider--b-flat input:checked + span:after {
  margin-left: 10px;
  content: "";
}

.checkbox-slider--b-flat input:checked + span:before {
  transition: background 0.2s ease-in;
}

.checkbox-slider--b-flat input + span {
  padding-left: 45px;
}

.checkbox-slider--b-flat input + span:before {
  border-radius: 20px;
  width: 30px;
}

.checkbox-slider--b-flat input + span:after {
  background: #ffffff;
  content: "";
  width: 20px;
  border: solid transparent 2px;
  background-clip: padding-box;
  border-radius: 20px;
}

.checkbox-slider--b-flat input:checked + span:before {
  background: #1bc98e;
}

.checkbox-slider--b-flat input + span:before {
  box-shadow: none;
}