[class^="ticket-status-"] {
  display: inline-block;
  height: 1.4em;
  width: 1.4em;
  margin-right: 5px;
  line-height: 1.4em !important;
  text-align: center;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  vertical-align: baseline !important;
}

.ticket-status-open {
  background-color: #3f484a;
}

.ticket-status-lost {
  background-color: firebrick;
}

.ticket-status-won {
  background-color: forestgreen;
}

.ticket-status-cashout {
  background-color: mediumseagreen;
}

.ticket-status-cancelled {
  background-color: slategray;
}

.ticket-status-evaluated {
  background-color: #92b2ec;
}

.ticket-status-payout-ready {
  background-color: cornflowerblue;
}

.ticket-status-payed-out {
  background-color: royalblue;
}

.ticket-status-request {
  background-color: mediumvioletred;
}

.ticket-status-refunded {
  background-color: #ff8f00;
}

.ticket-status-payment-error {
  background-color: red;
}

.ticket-status-not-visible {
  background-color: lightgrey;
}

[class^="ticket-type-"] {
  display: inline-block;
  height: 1.4em;
  line-height: 1.4em !important;
  padding: 0 5px;
  margin-right: 5px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.ticket-type-standard {
  background-color: #434857;
}

.ticket-type-live, .bet-live {
  background-color: #1997c6;
  color: white;
}

.bet-live {
  margin-left: .5em;
  padding: .1em .3em;
  border-radius: .2em;
  font-weight: bold;
  font-size: .7rem;
}

.bet-bank {
  margin-right: .5em;
  padding: .1em .3em;
  border-radius: .2em;
  font-weight: bold;
  font-size: .7rem;
  background-color: #434857;
}

.system-details-toggle {
  display: inline-block;
  padding-right: .5em;
}

.systems-popover {
  max-width: none !important;
  padding: 0;
  overflow: hidden;

  .popover-body {
    padding: 0;
    overflow: hidden;
  }

  .table {
    color: #474747;
  }

  .text-success {
    color: #1aa273 !important;
  }

  thead th {
    border-bottom: none;
    font-weight: normal;
    font-size: .7rem;
    padding-top: 1em;
  }

  td, th {
    border: none;
    padding-right: 2em;
    padding-top: .4em;
    padding-bottom: .4em;

    &:first-child {
      padding-left: 2em;
    }
  }

  tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
  }

  tbody tr:last-child td {
    padding-bottom: 1em;
  }
}

.ticket-row.show-bets {
  > td {
    border-color: transparent;
    background: #1a1c22;

    &:first-child {
      border-top-left-radius: 3px;
    }

    &:last-child {
      border-top-right-radius: 3px;
    }
  }
}

.customer-id {
  color: #595f73;
  font-size: .75em;
  font-weight: bold;
  margin-left: .25rem;
}

.bets-row > td {
  border-color: #1a1c22;
}

.spacer-row {
  > td {
    padding-top: 1rem;
    background: #252830 !important;
    border: none;
  }
}

.bets-table-wrapper {
  border-bottom: 1px solid #1a1c22;
  border-left: 1px solid #1a1c22;
  border-right: 1px solid #1a1c22;
  overflow: hidden;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bets-table {

  [class*="sprite__navside-flag__"]:before {
    margin-bottom: -.25em;
  }

  border-top: none;

  > tbody > tr > td {
    vertical-align: middle;
    border-top: 0;
  }

  > tbody > tr:first-child > td {
    padding-top: .5rem;
  }

  > tbody > tr:last-child > td {
    padding-bottom: .5rem;
  }

}

.modal-header .results-table {
  display: inline-block;
  margin-top: -1em;
  margin-bottom: -.5em;
}

.results-table {
  display: inline;

  tr {
    background-color: transparent !important;

    &:first-child {
      border-bottom: 1px solid #434857;
      td {
        border-top: none !important;
      }
    }
  }
  td {
    font-size: .6rem;
    padding-top: 0;
    padding-bottom: 0;

    &:first-child {
      border-right: 1px solid #434857;
      font-weight: bold;

      &:last-child {
        border-right: none;
      }
    }
  }

}

.ticket-row {
  transition: color .5s;
}

.tickets-sport-icon {
  height: 1.2em;
  margin-bottom: -.2em;
  fill: white;
  margin-right: .3em;
}

.ticket-modal {

  .subheader {
    padding-left: 2rem;
  }

  .modal-body {
    background: white;
  }

  .tickets-sport-icon {
    fill: #595f73;
    margin-right: .3em;
  }

  .bet-bank {
    background-color: slategray;
    color: white;
  }

  .table {
    > tbody > tr > td, thead > tr > th {
      &:first-child {
        padding-left: 2rem !important;
      }
      &:last-child {
        padding-right: 2rem !important;
      }

    }
  }

  .divider {
    display: inline-block;
    margin: 0 .5rem;
  }

  [class*="sprite__navside-flag__"]:before {
    margin-bottom: -.15em;
    margin-right: .3em;
  }
}

.flex-grow-25 {
  flex-grow: .25 !important;
}